@use 'fontawsome_custom';
@use 'bootstrap_custom';
@use 'libs/markdown';
@use 'admin-lte/dist/css/adminlte';
@use 'admin/posts';

@use 'select2/dist/css/select2.css';
// @use '@ttskch/select2-bootstrap4-theme/dist/select2-bootstrap4.css';

.turbo-progress-bar {
  height: 4px;
  background-color: red;
}

.main-sidebar {
  li.nav-item {
    width: 100%;
    a {
      text-overflow: ellipsis;
    }
  }
}

body.admin-page:not(.app-loaded) {
  main {
    background-color: red;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

.app-main {
  background-color: red;
  min-height: calc(100vh - 57px);
  display: flex;
  flex-direction: column;
}

.login-box {
  margin: 7% auto;
}